.wrapper{
    width: 100%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    background: linear-gradient(to right, #eb4034, #ebc634, #348feb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 140px  auto 20px;
    width: 225px;
}
p{
    color: #348feb;
    width: 700px;
    margin: 0 auto;
}
.red-box{
    background-color: red;
    width: 170px;
    height: 70px;
    margin: 120px auto 0;
}